.education {
    .section {
        display: inline-block;
        vertical-align: top;
        // width: min-content;
        max-width: 600px;

        white-space: pre-line;

        .school {
            display: flex;
            vertical-align: bottom;

            &-link {
                margin: auto 0 0 .6rem;
            }
        }

        h4 {
            margin-bottom: 1rem;
        }
    }
    
}