.global-controls {
  position: relative;
  display: inline-block;
  //   top: 0px;
  margin-right: 2.2rem;

  ul {
    display: inline-block;
    list-style: none;
    // overflow: hidden;
    position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    // margin: 1rem 0;
    li {
      margin-top: 0;
      /* &:not(:last-child) {
        margin-right: 1.6rem;
      } */
      display: inline-block;
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
      visibility: hidden;
      width: max-content;
      background-color: $color-grey;
      color: $color-white;
      font-size: 1.3rem;
      font-family: 'SF Pro Display Semibold', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
      font-weight: 600;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      // top: 125%;
      // left: 50%;
      // margin-left: -60px;
      // top: 200%;
      top: 143%;
      bottom: auto;
      // margin-left: -50%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;

      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        top: auto;
        left: 50%;
        // margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}
