.preview_frame {
  border: none;
  background-color: $color-grey-light-3;
}

.preview_img {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $color-grey-light-3;
}

/* .preview-nav {
  display: flex;
  justify-content: center;
} */
