.zoom-controls {
  display: flex;
  justify-content: space-between;
  width: 188px;

  div {
    align-self: center;
  }

  &-number {
    z-index: 1;

    text-decoration: none;
    font-family: 'SF Pro Display Semibold', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0 0.25rem;
    color: $color-white;
  }

  &-stack {
    width: 150px;
    margin-bottom: 0 !important;
  }
  &-slider {
    // padding: 0;
    // margin: 0;
    // font-size: 1.2rem;
    // line-height: 1.2rem;
  }

  .btn-controls {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      font-family: 'SF Pro Display Semibold', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1.2rem;
      position: relative;
      background-color: transparent;
      border: none;
      padding: 0 0.25rem;

      z-index: 10;
    }

    &:hover {
      color: $color-link;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &-white {
      &,
      &:link,
      &:visited,
      &:active,
      &:focus {
        color: $color-white;
      }
    }

    &-grey {
      &,
      &:link,
      &:visited,
      &:active,
      &:focus {
        color: $color-grey-light;
      }
    }

    &-icon {
      &,
      &:link,
      &:visited {
        font-family: 'SF Pro Icons';
      }
    }
  }
}
