*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    } */
}

::selection {
  background-color: $color-primary-light;
  color: $color-white;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

#root {
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.btn-text {
  background: none;
  border: none;
  color: #0077ed;
  cursor: pointer;
  font: inherit;
  padding: 0;
  
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  
  &:visited {
    color: #0077ed;
  }

  &::after {
    padding-left: 0.3em;
    font-family: 'SF Pro Icons';
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: none;
    position: relative;
    z-index: 1;
    alt: '';
    content: 'ïŒ';
  }
}

main {
  margin: 4.4rem 0 0;
}

.bulleted-list {
  list-style: disc!important;
  margin-left: 2rem;
  font-size: .8em;
}